body {
    background-color: rgb(107, 124, 124);
}
.border {
    width:1564px;
    height:960px;
    background: #c1d4d0;
    margin-left: 120px;
    margin-top: -70px;
}
h1 {
    position: relative;
    display: flex;
    margin-left: 825px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
}
#icon-medicina {
    position: relative;
    display: flex;
    margin-top: -950px;
    margin-left: 1515px;
    width: 150px; 
    height: 141px;
}
#icon-account {
    position: relative;
    display: flex;
    margin-top: -130px;
    margin-left: 140px;
    width: 110px; 
    height: 110px;
}

.button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
  } 
  .button:hover { background: rgb(53, 167, 110); }
  .button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }

  .button2 {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(255, 87, 87);
    transition: 0.2s;
  } 
  .button2:hover { background: rgb(146, 29, 101); }
  .button2:active {
    background: rgb(146, 29, 101);
    box-shadow: 0 3px rgb(146, 29, 101) inset;
  }

  .button-33 {
    margin-top: 40px;
    margin-left: 220px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  table{
    background-color: azure;
    margin-left: 730px;
    margin-top: 150px;
  }
  th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
  }
  td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
  }
  tr:nth-child(2n) {
    background: #e8edff;
  }