<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Medicīna</h1>
    <link rel="stylesheet" href="../static/css/admin_hospital_page.css"></link>
    <style type="text/css">
      BODY {
        background: url(https://cdn.discordapp.com/attachments/910278586114637844/940893915412836432/7500-hospital-drive-dublin-header.jpg);
      }
    </style>
</head>
<body>
    
    <div class="border" > </div>


    </div>
    <img id="icon-medicina" src="https://cdn.discordapp.com/attachments/552129707227742228/844192612482416710/unknown.png" alt="icon-medicina" >
    <img id="icon-account"  src="https://cdn.discordapp.com/attachments/552129707227742228/844192853680062474/unknown.png" alt="icon-account" > 

    
    <p style="margin-top: -51px;margin-left:260px;z-index:102;font-size:24px;color: #fff;text-decoration: none;user-select:padding.7em 1.5em;outline: none;"><a href="./login"><button class="button2">Iziet</button></a></p>

    <ul id="buttonsPanel4">
      <a href="./admin_main" style="margin-top: 40px; margin-left: 220px;"><button class="button">Atpakaļ</button></a></li>


    <div class="content2">
      <h1 style="margin-left: 780px; margin-top: -100px;">Slimnīcas</h1>
      {% if tasks2|length < 1 %}
      <h4 style="margin-left: 720px; margin-top: 0px;">Šeit nav pievienota ne viena slimnīca.</h4>
      {% else %}
      <table>
        <tr>
          <th>Nosaukums</th>
          <th>Adrese</th>
          <th>Darbības</th>
        </tr>
        {% for task in tasks2 %}
          <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.adrese }}</td>
            <td>
              <a href="/delete2/{{task.id}}"><button class="button2">Dzēst</button></a>
              <br>
              <a href="/update2/{{task.id}}"><button class="button">Labot</button></a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}

    
      <form action="/ok2" method="POST" id="form" style="margin-top: 0px;">
            <input class="input" type="text" name="content" id="content" maxlength="30" placeholder="Nosaukums" required style="margin-left: 630px;">
            <input class="input" type="text" name="adrese" id="adrese" maxlength="30" placeholder="Adrese" required style="margin-left: 20px;">
            <input type="submit" value="Pievienot" class="gradient-button">
      </form>
    </div>

    <script src="../static/js/admin_hospital_page.js"></script>
    
    
</body>
</html>