{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Medicīna</h1>
<link rel="stylesheet" href="../static/css/admin_doctor_page.css"></link>
<style type="text/css">
  BODY {
    background: url(https://cdn.discordapp.com/attachments/910278586114637844/940893915412836432/7500-hospital-drive-dublin-header.jpg);
  }
</style>
    
<div class="border" > </div>


</div>
<img id="icon-medicina" src="https://cdn.discordapp.com/attachments/552129707227742228/844192612482416710/unknown.png" alt="icon-medicina" >
<img id="icon-account"  src="https://cdn.discordapp.com/attachments/552129707227742228/844192853680062474/unknown.png" alt="icon-account" > 

    
<p style="margin-top: -51px;margin-left:260px;z-index:102;font-size:24px;color: #fff;text-decoration: none;user-select:padding.7em 1.5em;outline: none;"><a href="./login">Iziet</a></p>

<ul id="buttonsPanel3">
  <a href="./admin_main" style="margin-top: 40px; margin-left: 220px;"><button class="button">Atpakaļ</button></a></li>

<div class="content">
  <h1 style="margin-left: 30px; margin-top: -20px;">Ārsti</h1>
  {% if tasks|length < 1 %}
  <h4 style="margin-left: 30px; margin-top: 0px;">Šeit nav pievienots ne viens ārsts.</h4>
  {% else %}

  <table>
    <tr>
      <th>Darbības joma</th>
      <th>Vārds uzvārds</th>
      <th>Darba laiks</th>
      <th>Darbības</th>
    </tr>
    {% for task in tasks %}
      <tr>
        <td>{{ task.content }}</td><!-- content = darbibas joma -->
        <td>{{ task.title }}</td><!-- title = vards uzvards -->
        <td>{{ task.article }}</td><!-- article = Darba laiks -->
        <td>
          <a href="/delete/{{task.id}}"><button class="button">Delete</button></a>
          <br>
          <a href="/update/{{task.id}}"><button class="button">Update</button></a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% endif %}

  <form action="/ok" method="POST" id="form">
        <input class="input" type="text" name="content" id="content" maxlength="30" placeholder="Darbības joma" required>
        <span></span>
        <input class="input" type="text" name="title" id="title" maxlength="30" placeholder="Vārds, Uzvārds" required>
        <input class="input" type="text" name="article" id="article" maxlength="30" placeholder="Darba laiks" required>
        <input type="submit" value="Pievienot" class="gradient-button">
  </form>
</div>

<script src="../static/js/admin_doctor_page.js"></script>
    
{% endblock %}