<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Medicīna</h1>
    <link rel="stylesheet" href="static/css/guest_visits.css"></link>
    <style type="text/css">
      BODY {
        background: url(https://cdn.discordapp.com/attachments/910278586114637844/940893915412836432/7500-hospital-drive-dublin-header.jpg);
      }
    </style>
</head>
<body>
    
    <div class="border" > </div>
    <div class="border2"> </div>

    <div style="height:600px;width:1500px;overflow-y:scroll;margin-top: -625px;">


    </div>
    <img id="icon-medicina" src="https://cdn.discordapp.com/attachments/552129707227742228/844192612482416710/unknown.png" alt="icon-medicina" >
    <img id="icon-account"  src="https://cdn.discordapp.com/attachments/552129707227742228/844192853680062474/unknown.png" alt="icon-account" > 
    <p style="margin-top: -15px;margin-left:260px;z-index:102;font-size:24px;"><a id = "username_lapā"></a></p>

    <p style="margin-top: -45px;margin-left:260px;z-index:102;font-size:24px;"><a href="./login">Iziet</a></p>

    <ul id="buttonsPanel2">
      <a href="./guest_main"><button class="button-33" role="button">Mājaslapa</button></a>
    
      <a href="./guest_visits"><button class="button-33" role="button" style="margin-left: 20px;">Manas vizītes</button></a>
    </ul>

    <h1>Pieraksti</h1>
    <h2 id="h2VIZITI" style="margin-left: 810px;">Pievienot vizīti</h2>
    <div id="ManasVizites" style="margin-left: 730px;">
      <input type="date" name="calendar" id="datums" value="2022-02-16"
      max="2022-10-04" min="2022-02-16" required>
      <!--<input type="text" id="laiks" placeholder="Laiks">-->

      <select type="text" id="laiks" placeholder="Laiks" required>
        <option value="10:00">10:00</option>
        <option value="10:30">10:30</option>
        <option value="11:00">11:00</option>
        <option value="11:30">11:30</option>
        <option value="12:00">12:00</option>
        <option value="12:30">12:30</option>
        <option value="13:00">13:00</option>
        <option value="13:30">13:30</option>
        <option value="14:00">14:00</option>
        <option value="14:30">14:30</option>
        <option value="15:00">15:00</option>
        <option value="15:30">15:30</option>
        <option value="16:00">16:00</option>
        <option value="16:30">16:30</option>
        <option value="17:00">17:00</option>
        <option value="17:30">17:30</option>
        <option value="18:00">18:00</option>
        <option value="18:30">18:30</option>
        <option value="19:00">19:00</option>
      </select>

      <button type="Pievienot" id="pievienotViziti">Pievienot</button>
    </div>
    <div id="saraksts">
    
      <div class="border2" id="border2">
        <!--{% if content == "content" %}
          <table>
            <tr>
              <th>Darbības joma</th>
              <th>Vārds uzvārds</th>
              <th>Darba laiks</th>
            </tr>
            {% for n in range ( tasks|length ) %}
              {% if tasks[n].content == "content" %}
                <tr>
                  <td class="dbteksts">{{ tasks[n].content }}</td> content = darbibas joma 
                  <td class="dbteksts">{{ tasks[n].title }}</td> title = vards uzvards 
                  <td class="dbteksts">{{ tasks[n].article }}</td> article = Darba laiks 
                </tr>
              {% endif %}
            {% endfor %}
          </table>
        {% endif %}-->

  
      </div>

    
    </div>

    <div>
      {% if tasks3|length < 1 %}
      <h4 style="margin-left: 720px; margin-top: 0px;">Šeit nav pievienota ne viena vizīte.</h4>
      {% else %}
      <table>
        <tr>
          <th>Darbības joma</th>
          <th>Vārds Uzvārds</th>
          <th>Darbības</th>
        </tr>
        {% for task in tasks3 %}
          <tr>
            <td>{{ task.DARBJOMA }}</td>
            <td>{{ task.TITLE }}</td>
            <td>
              {{ task.ARTICLE }}
            </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>

    <script src="static/js/script.js"></script>

</body>
</html>