<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Medicīna</h1>
    <link rel="stylesheet" href="static/css/guest_visits.css"></link>
    <link href="static/css/guest_visits.css" rel="stylesheet">
</head>
<body>
    
    <div class="border" > </div>
    <div class="border2"> </div>

    <div style="height:600px;width:1500px;overflow-y:scroll;margin-top: -625px;">


    </div>
    <img id="icon-medicina" src="https://cdn.discordapp.com/attachments/552129707227742228/844192612482416710/unknown.png" alt="icon-medicina" >
    <img id="icon-account"  src="https://cdn.discordapp.com/attachments/552129707227742228/844192853680062474/unknown.png" alt="icon-account" > 

    <p style="margin-top: -34px;margin-left:260px;z-index:102;font-size:24px;"><a href="./login">Iziet</a></p>

    <ul id="buttonsPanel2">
      <li style="position: relative;
    size: 30px;
    background: linear-gradient(to left, #89ffbe 0%, white, #89ffbe);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    text-align: center;
    list-style-type: none;
    width: 200px;
    float: left;
    left: 220px;
    top: 70px;"><a href="./guest_main">Mājaslapa</a></li>
    
      <li style="position: relative;
    size: 30px;
    background: linear-gradient(to left, #89ffbe 0%, white, #89ffbe);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    text-align: center;
    list-style-type: none;
    width: 200px;
    float: left;
    left: 220px;
    top: 70px;"><a href="./guest_visits">Manas vizītes</a></li>
    </ul>

</body>
</html>