<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Medicīna</h1>
    <link rel="stylesheet" href="../static/css/lapa_priekš_drukāšanai.css"></link>
    <style type="text/css">
      BODY {
        background: url(https://cdn.discordapp.com/attachments/910278586114637844/940893915412836432/7500-hospital-drive-dublin-header.jpg);
      }
    </style>
</head>
<body>
    <div class="border" > </div>
    <div class="border2"> </div>

    </div>
    <img id="icon-medicina" src="https://cdn.discordapp.com/attachments/552129707227742228/844192612482416710/unknown.png" alt="icon-medicina" >
    <img id="icon-account"  src="https://cdn.discordapp.com/attachments/552129707227742228/844192853680062474/unknown.png" alt="icon-account" > 

    
    <p style="margin-top: -51px;margin-left:260px;z-index:102;font-size:24px;color: #fff;text-decoration: none;user-select:padding .7em 1.5em;outline: none;"><a href="./login"><button class="button2">Iziet</button></a></p>
    
    <ul id="buttonsPanel2">
        <a href="./guest_main"><button class="button-33" role="button">Mājaslapa</button></a>
      
        <a href="./guest_visits"><button class="button-33" role="button" style="margin-left: 20px;">Manas vizītes</button></a>
    </ul>

    <table>
        <tr>
            <td>Jānis Bērziņš</td>
            <td>Vizītes Nr. 000000000</td>
        </tr>
        <tr>
            <td>Slimnīca</td>
            <td>Rīgas Stradiņu</td>
        </tr>
        <tr>
            <td>Vizītes laiks</td>
            <td>21.01.2017 15:50</td>
        </tr>
        <tr>
            <td>Ārsts</td>
            <td>Juris Ozols</td>
        </tr>
        <tr>
            <td>Darbības joma</td>
            <td>Zobārsts</td>
        </tr>
    </table>
    
</body>
</html>