{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Medicīna</h1>
<link rel="stylesheet" href="../static/css/admin_hospital_page.css"></link>
<style type="text/css">
  BODY {
    background: url(https://cdn.discordapp.com/attachments/910278586114637844/940893915412836432/7500-hospital-drive-dublin-header.jpg);
  }
</style>
    
<div class="border" > </div>


</div>
<img id="icon-medicina" src="https://cdn.discordapp.com/attachments/552129707227742228/844192612482416710/unknown.png" alt="icon-medicina" >
<img id="icon-account"  src="https://cdn.discordapp.com/attachments/552129707227742228/844192853680062474/unknown.png" alt="icon-account" > 


<div class="content">
  <h1 style="margin-left: 730px; margin-top: 150px;">Atjaunināt informāciju</h1>


  <form action="/update2/{{task.id}}" method="POST">
    <input type="text" name="content" id="content" value="{{task.content}}" placeholder="Nosaukums" style="margin-left: 650px;" required>
    <input type="text" name="adrese" id="adrese" value="{{task.adrese}}" placeholder="Adrese" style="margin-left: 10px;" required>
    <input type="submit" value="Ieviest izmaiņas" class="button" style="margin-left: 10px;">
  </form>
</div>

    
{% endblock %}